html{
    font-family: Arial;
    background-color: #0c0f1d;
    min-height: 100vh
}

#main-container{
    width: 700px;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 90px;
}

table{
    width: 150%;
    background-color: white;
    border-collapse: collapse;
    text-align: left;
}

th,td{
    padding: 10px;
}

thead{
    background-color: #246355;
    color: white;
    border-bottom: solid 5px #0F362D;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: #369681;
    color: white;
}

.texto1{
    font-family: Candara;
    text-align: center;
    color: #ddd;
    font-size: 50px;
}

.texto2{
    text-align: center;
    color: #ddd;
}

.imagen{
    height: 10px;
    width: 10px;
}

button{
    background-color: transparent;
    float: left;
    border-color: transparent;
}