<html>
    <p>.</p>
    <div>
        <p class="texto1"><img src="../../../assets/img/Merca_tarea_solo_libro.png"><br>Dream Books</p>
        <p class="texto2">La lectura es el puente de la imaginación</p><hr>
        <p class="texto3">Reserva tus libros favoritos</p>
        <p class="texto3">Has volar tu imaginacióm</p>
        <p class="texto3">Inicia sesión si tienes una cuenta</p><hr>
        <button routerLink="/login" class="btn btn-success">Iniciar sesion</button><br><br>
    </div><br>
</html>

