<html>
<div class="card text-center" *ngFor="let libros of libros | search:search">
    <a data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="obtenerData(libros)"><img *ngIf="libros.image == null" src="../../../assets/img/portada.jpg" class="imegenDefecto"></a>
    <a data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="obtenerData(libros)"><img *ngIf="libros.image" src="{{uri+'getImageLibro/'+libros.image}}" class="imegenLibro"></a>
</div>
</html>

<!-- Modal de libro -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{libro.titulo}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <img *ngIf="libro.image == null" src="../../../assets/img/portada.jpg" class="imagenModal">
        <img *ngIf="libro.image" src="{{uri+'getImageLibro/'+libro.image}}" class="imagenModal">
        <p class="bibliografia">{{libro.bibliografia}}</p>
        <p class="textoModal">Autor: {{libro.autor}}</p>
        <p class="textoModal">Descripción: {{libro.descripcion}}</p>
        <p class="textoModal">{{libro.palabrasClaves}}</p>
        <p class="textoModal">{{libro.temas}}</p>
        <p class="textoModal">Frecuencia: {{libro.frecuencia}}</p>
        <p class="textoModal">Ejemplares: {{libro.ejemplares}}</p>
        <p class="textoModal">Compras del libro: {{libro.compras}}</p>
        <p class="textoModal">Copias disponibles: {{libro.disponibles}}</p>
        <div *ngIf="libro.disponibles == 0" class="alert alert-danger" role="alert">
            No hay copias de este libro para reservar
        </div>
        <div *ngIf="user.librosRentados == 10" class="alert alert-danger" role="alert">
          Ya no puedes reservar mas libros
        </div>
        <div *ngIf="user.role != 'ROLE_USER'" class="alert alert-warning" role="alert">
          Solo un usuario normal puede reservar libros
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button *ngIf="user.role != 'ROLE_USER'" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editar">Editar Libro</button>
          <button *ngIf="user.role != 'ROLE_USER'" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminar">Eliminar Libro</button>
          <button *ngIf="user.role != 'ROLE_USER'" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#agregarCopias">Agregar copias</button>
          <button *ngIf="user.role != 'ROLE_USER'" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#quitarCopias">Quitar copias</button>
          <button *ngIf="user.role != 'ROLE_USER'" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#imagen">Subir Imagen</button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reservar" *ngIf="(libro.disponibles > 0 && user.librosRentados < 10 && user.role == 'ROLE_USER')">Reservar</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal para agregar copias-->
<div class="modal fade" id="agregarCopias" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar copias para: {{libro.titulo}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <h1>Cantidad</h1><br><br>
                <input [(ngModel)]="libro.disponibles" name="disponibles" #disponibles="ngModel" type="number" placeholder="Cantidad de copias">  
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="agregarCopias()" class="btn btn-success" data-bs-dismiss="modal">Agregar copias</button>
        </div>
      </div>
    </div>
  </div>
  
<!-- Modal para quitar copias-->
<div class="modal fade" id="quitarCopias" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Quitar copias para: {{libro.titulo}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h1>Cantidad</h1><br><br>
          <input [(ngModel)]="libro.disponibles" name="disponibles" #disponibles="ngModel" type="number" placeholder="Cantidad de copias">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="quitarCopias()" class="btn btn-danger" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div> 


<!-- Modal para subir imgen-->
<div class="modal fade" id="imagen" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Imagen de libro para: {{libro.titulo}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Elije tu imagen</h1>
        <form #formUpload="ngForm">
          <label for="inputImage"></label>
          <input type="file" name="image" id="inputImage" (change)="fileChange($event)" required>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="subirImagen()">Upload</button>
      </div>
    </div>
  </div>
</div>

<!--MODAL PARA RESERVAR-->
<div class="modal fade" id="reservar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reservar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 class="texto1">¿Quires reservar una copia de: {{libro.titulo}}?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="reservar()">Reservar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para eliminar-->
<div class="modal fade" id="eliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Libro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1>¿Seguro que quieres eliminar el libro {{libro.titulo}}?</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteLibro()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para editar-->
<div class="modal fade" id="editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header cabecera">
        <h5 class="modal-title" id="exampleModalLabel">Editar libro: {{libro.titulo}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="division">
          <p class="texto3">Titulo</p>
          <input [(ngModel)]="libro.titulo" name="titulo" #titulo="ngModel" type="text" class="input">
        </div><br>
        <div class="division">
          <p class="texto3">Bibliografia</p>
          <select id="selectLibro" [(ngModel)]="libro.bibliografia" name="bibliografia" #bibliografia="ngModel" class="input">
            <option *ngFor="let option of optionsRol" [value]="option">{{option}}</option>
        </select>
        </div><br>
        <div class="division">
          <p class="texto3">Autor</p>
          <input [(ngModel)]="libro.autor" name="autor" #autor="ngModel" type="text" class="input">
        </div><br>
        <div class="division">
          <p class="texto3">Descripción</p>
          <input [(ngModel)]="libro.descripcion" name="descripcion" #descripcion="ngModel" type="text" class="input">
        </div><br>
        <div class="division">
          <p class="texto3">Palabras Claves</p>
          <input [(ngModel)]="libro.palabrasClaves" name="palabrasClaves" #palabrasClaves="ngModel" type="text" class="input">
        </div><br>
        <div class="division">
          <p class="texto3">Temas</p>
          <input [(ngModel)]="libro.temas" name="temas" #temas="ngModel" type="text" class="input">
        </div><br>
        <div class="division">
          <p class="texto3">Frecuencia</p>
          <input [(ngModel)]="libro.frecuencia" name="frecuencia" #frecuencia="ngModel" type="text" class="input">
        </div><br>
        <div class="division">
          <p class="texto3">Ejemplares</p>
          <input [(ngModel)]="libro.ejemplares" name="ejemplares" #ejemplares="ngModel" type="number" class="input">
        </div><hr>
        <div *ngIf="message" class="alert alert-danger" role="alert">
          {{message}}
        </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="refreshPage()">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateLibro()">Guardar</button>
      </div>
    </div>
  </div>
</div>