<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
              <img src="../../../assets/img/favicon.png" height="60px" width="60px">
                  <li class="nav-item">
                    <a class="nav-link" routerLinkActivate="active" data-bs-toggle="modal" data-bs-target="#acercaDe">Acerca de</a>
                  </li>
                  <!--<li class="nav-item">
                    <a class="nav-link" routerLinkActivate="active" (click)="acercaDe()">Acerca de 2</a>
                  </li>-->
                 <li class="nav-item">
                    <a class="nav-link" *ngIf="token == null" routerLink="/index" routerLinkActivate="active">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" *ngIf="token == null" routerLink="/login">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" *ngIf="token != null" routerLink="/home">Ver los libros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" *ngIf="token != null && user.role == 'ROLE_USER'" routerLink="/misLibros">Mis libros rentados</a>
                  </li>
                <li *ngIf="token != null || token != undefined" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Más opciones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" *ngIf="user.role != 'ROLE_USER'" routerLink="/addLibro">Guardar un libro</a></li>
                      <li><a class="dropdown-item" *ngIf="user.role == 'ROLE_ADMIN'" routerLink="/saveUser">Save User</a></li>
                      <li><a class="dropdown-item" *ngIf="user.role == 'ROLE_ADMIN'" routerLink="/listUsers">Ver usuarios</a></li>
                      <li><a class="dropdown-item" *ngIf="user.role != 'ROLE_USER'" routerLink="/libroMasRentado">Libro mas rentado</a></li>
                      <li><a class="dropdown-item" *ngIf="user.role != 'ROLE_USER'" routerLink="/revistaMasRentada">Revista mas rentada</a></li>
                      <li><a class="dropdown-item" *ngIf="user.role != 'ROLE_USER'" routerLink="/librosAgotados">Mercancia agotada</a></li>
                      <li><a class="dropdown-item" *ngIf="user.role == 'ROLE_ADMIN'" routerLink="/usuarioMasRenta">Usuario con mas rentas</a></li>
                      <li><a class="dropdown-item" *ngIf="user.role == 'ROLE_USER'" routerLink="/historial">Historial</a></li>
                      <li><a class="dropdown-item" routerLink="/user">Mi Perfil</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" (click)="logOut()">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--<form *ngIf="token != null || token != undefined" class="form-inline my-2 my-lg-0" #search="ngForm" (ngSubmit)="onSubmit(search)">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="libro.titulo" name="libroBuscar">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
</nav>

<!-- Modal acerca de -->
<div class="modal fade" id="acercaDe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Programador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../../../assets/img/YO.jpg" class="imagenModal">
        <b class="texto2">Nombre: </b><p class="texto2">Diego Rodrigo</p><br>
        <b class="texto2">Apellidos: </b><p class="texto2">Mercadal Reyes</p><br>
        <b class="texto2">Carnet: </b><p class="texto2">2016-490</p><br>
        <b class="texto2">Codigo Tencico: </b><p class="texto2">IN6AM</p><br>
      </div>
    </div>
  </div>
</div>